<app-add-employee [(visible)]="isEmployeeAddFormVisible"></app-add-employee>
<div class="add-button-wrapper">
    <button class="add-button" (click)="showEmployeeAddForm()">
        <i class="material-icons">add</i>
        {{ 'HR.EMPLOYEES.ADD_EMPLOYEE' | translate }}
    </button>
</div>

<div class="page-content-wrapper">
    <div class="employees-container">
        <div class="table-container">
            <app-loader *ngIf="isLoadingEmployees" type="circle"></app-loader>

            <div *ngIf="employeesPage$ | async as employeePage">
                <div *ngIf="employeePage.items && employeePage.items.length > 0; else noDataFound">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>{{ 'HR.EMPLOYEES.NEW_EMPLOYEE.NAME' | translate }}</th>
                                    <th>{{ 'HR.EMPLOYEES.HIRE_DATE' | translate }}</th>
                                    <th>{{ 'HR.EMPLOYEES.DEPARTMENT_NAME' | translate }}</th>
                                    <th>{{ 'COMMON.ACTIONS' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employee of employeePage.items">
                                    <td attr.data-label="{{ 'HR.EMPLOYEE.NAME' | translate }}">{{ employee.fullName }}
                                    </td>
                                    <td attr.data-label="{{ 'HR.EMPLOYEE.HIRE_DATE' | translate }}">{{ employee.hireDate
                                        }}</td>
                                    <td attr.data-label="{{ 'HR.EMPLOYEE.CURRENT_DEPARTMENT' | translate }}">
                                        {{ employee.currentDepartmentName }}
                                    </td>
                                    <td attr.data-label="{{ 'COMMON.ACTIONS' | translate }}" class="actions-cell">
                                        <button class="action-button view-button"
                                            [routerLink]="['/app/hr/employees/', employee.employeeId]">
                                            <i class="material-icons">visibility</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="pagination-container">
                        <button class="pagination-btn" (click)="getPreviousPage()"
                            [disabled]="!employeesPageSnapshot.hasPrevious || isLoadingEmployees">
                            « {{ 'COMMON.PREVIOUS_PAGE' | translate }}
                        </button>

                        <ng-container *ngIf="employeesPageSnapshot">
                            <ng-container
                                *ngIf="getPageNumbers(employeesPageSnapshot.currentPage, employeesPageSnapshot.totalPages, 5) as pages">
                                <span *ngFor="let page of pages">
                                    <button (click)="goToPage(page)"
                                        [class.active]="page === employeesPageSnapshot.currentPage"
                                        class="pagination-btn">
                                        {{ page }}
                                    </button>
                                </span>

                                <span *ngIf="pages[pages.length - 1] < employeesPageSnapshot.totalPages">...</span>
                                <button *ngIf="pages[pages.length - 1] < employeesPageSnapshot.totalPages"
                                    (click)="goToPage(employeesPageSnapshot.totalPages)" class="pagination-btn">
                                    {{ employeesPageSnapshot.totalPages }}
                                </button>
                            </ng-container>
                        </ng-container>

                        <button class="pagination-btn" (click)="getNextPage()"
                            [disabled]="!employeesPageSnapshot.hasNext || isLoadingEmployees">
                            {{ 'COMMON.NEXT_PAGE' | translate }} »
                        </button>
                    </div>
                </div>

                <ng-template #noDataFound>
                    <div class="no-data-message">
                        <p>{{ 'COMMON.NO_DATA_FOUND' | translate }}</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

<ng-container>
    <div [class.filters-overlay]="isSmallScreen" 
    [class.show-overlay]="showFilters && isSmallScreen">
        <div class="filters-sidebar-section">
            <form [formGroup]="filterForm" class="filters-form">
                <div class="filters-container-wrapper">
                <div class="filter-category" [class.collapsed]="!isDateRangeExpanded">
                        <div class="category-header">
                            <span class="category-title" (click)="toggleDateRange()">{{'FILTERS.DATE_RANGE' |
                                translate}}</span>
                            <div class="actions">
                                <button type="button" class="clear-filter-button" (click)="clearDateRangeFilter()">
                                    <i class="material-icons">close</i> </button>
                                <i class="material-icons arrow-icon" (click)="toggleDateRange()"
                                    [class.rotated]="isDateRangeExpanded">keyboard_arrow_down</i>
                            </div>
                        </div>
                        <div class="category-content">
                            <input type="date" id="from" formControlName="from"
                                placeholder="{{ 'EMPLOYEES.FROM_DATE' | translate }}">
                            <input type="date" id="to" formControlName="to"
                                placeholder="{{ 'EMPLOYEES.TO_DATE' | translate }}">
                        </div>
                    </div>

                    <!-- فلتر السجلات النشطة فقط -->
                    <div class="filter-category" [class.collapsed]="!isOnlyActiveExpanded">
                        <div class="category-header">
                            <span class="category-title" (click)="toggleOnlyActive()">{{'FILTERS.ACTIVE_RECORDS' |
                                translate}}</span>
                            <div class="actions">
                                <button type="button" class="clear-filter-button"
                                    (click)="clearOnlyActiveRegistersFilter()">
                                    <i class="material-icons">close</i>
                                </button>
                                <i class="material-icons arrow-icon" (click)="toggleOnlyActive()"
                                    [class.rotated]="isOnlyActiveExpanded">keyboard_arrow_down</i>
                            </div>
                        </div>
                        <div class="category-content">
                            <label class="checkbox-label">
                                <input type="checkbox" formControlName="onlyActiveRegisters">
                                {{ 'FILTERS.ONLY_ACTIVE' | translate }}
                            </label>
                        </div>
                    </div>

                    <!-- فلتر الأقسام (Checkboxes) -->
                    <div class="filter-category" [class.collapsed]="!isDepartmentExpanded">
                        <div class="category-header">
                            <span class="category-title" (click)="toggleDepartment()">{{'HR.EMPLOYEES.SEARCH_DEPARTMENT'
                                | translate}}</span>
                            <div class="actions">
                                <button type="button" class="clear-filter-button" (click)="clearDepartmentFilter()">
                                    <i class="material-icons">close</i>
                                </button>
                                <i class="material-icons arrow-icon" (click)="toggleDepartment()"
                                    [class.rotated]="isDepartmentExpanded">keyboard_arrow_down</i>
                            </div>
                        </div>
                        <div class="category-content checkbox-list">
                            <div *ngIf="filteredDepartments.length > 0; else noDepartments">
                                <div *ngFor="let dept of filteredDepartments" class="checkbox-item">
                                    <input type="checkbox" [id]="'dep-' + dept.departmentId" [value]="dept.departmentId"
                                        [checked]="selectedDepartments.includes(dept.departmentId)"
                                        (change)="onDepartmentToggle(dept)">
                                    <label [for]="'dep-' + dept.departmentId">{{ dept.departmentName }}</label>
                                </div>
                            </div>
                            <ng-template #noDepartments>
                                <p>{{ 'COMMON.NO_DATA_FOUND' | translate }}</p>
                            </ng-template>
                        </div>
                    </div>
               </div>
            </form>
        </div>
    </div>
</ng-container>

<!-- زر الإعدادات العائم في الأسفل (يظهر فقط على الشاشات الصغيرة) -->
<button class="floating-filter-button"
*ngIf="!isEmployeeAddFormVisible"
(click)="toggleFilters()" title="{{ 'COMMON.FILTERS' | translate }}">
    <i class="material-icons">settings</i>
</button>