<div class="employee-credential-modal-backdrop" *ngIf="isVisible">
    <div class="modal-content"> 
        <div class="information-container">
            <div>
                <h1>{{'HR.EMPLOYEES.NEW_EMPLOYEE.INFROMATION' | translate}}</h1>
            </div>
            <div> 
                <span>{{'HR.EMPLOYEES.NEW_EMPLOYEE.NAME' | translate}} : </span> 
                <span>{{userName}}</span>
            </div>
            <div>
                <span>{{'HR.EMPLOYEES.NEW_EMPLOYEE.EMAIL' | translate}} : </span> 
                <span>{{email}}</span>
            </div>
            <div>
                <span>{{'AUTHENTICATION.COMMON.PASSWORD' | translate}} : </span>
                <span>{{password}}</span>
            </div>
        </div>
        <div class="button-container">
            <input type="submit" value="{{'COMMON.CLOSE' | translate}}" (click)="onClosedClicked()">
        </div>
    </div>
</div>