.employee-credential-modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-darker-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1203;
}

.modal-content{
    background-color: var(--secondary-background-color);
    width: 600px;
    height: 300px;
    max-height: 98vh;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.information-container{
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.information-container span{
    font-size: 1.25rem;
    color: var(--text-color);
}


.information-container h1{
    color: var(--primary-color);
}

.information-container div:not(div:first-child){
    width: 80%;
}

.information-container div:first-child{
    font-size: 16px;
}


@media (max-width: 860px){
    .modal-content{
        width: 95vw;
    }

    .modal-content .information-container div:first-child{
        font-size: 13px;
    }
}