.top-curve {
    position: fixed;
    top: 0;
    right: 0;
    width: min(300px, 30vw);
    height: min(300px, 30vw);
    background-color: var(--primary-color);
    clip-path: path('M0.0 0 H300 V300 Q300 0 0 0');
    filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.4));
    box-shadow: inset 15px -15px 30px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

.ball-shape {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 130px;
    height: 50px;
}

.top-balls,
.bottom-balls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.top-balls {
    transform: translateX(8px);
}

.ball {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.bottom-balls .ball {
    background-color: var(--secondary-color);
}


.lock-img {
    width: 100%;
    height: auto;
    z-index: -1;
}


.content-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side-wrapper{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 2px var(--secondary-color) solid;
    border-radius: 50%;
}


.img-container{
    width: clamp(250px, 30vw, 450px);
}

.right-side-wrappper{
    width: 50%;
}


@media (max-width: 1000px) {

    .left-side-wrapper {
        width: 30%;
        border: none;
    }

    .right-side-wrappper {
        width: 70%;
    }
}



@media (max-width: 768px) {
    .top-curve {
        width: clamp(100px, 40vw, 250px);
        height: clamp(100px, 40vw, 250px);
    }

    .lock-img {
        top: 40vh;
        left: 5vw;
        width: clamp(200px, 45vw, 350px);
    }



    .curved-line {
        width: clamp(200px, 45vw, 300px);
        bottom: 10px;
        right: 10px;
    }
}



@media (max-width: 480px) {
    .top-curve {
        width: clamp(80px, 50vw, 200px);
        height: clamp(80px, 50vw, 200px);
    }

    .left-side-wrapper{
        display: none;
    }

    .right-side-wrappper{
        width: 100vw;
    }
}